<!-- This code for showing a record for category -->
<div class="container" style="margin-top: 75px;">
	<div class="row">
		<div class="col-md-3"></div>
		<!-- This div will display record -->
		<div class="col-md-6">
			<p id="notice"><%= notice %></p>
			<p>
			  <strong>Name:</strong>
			  <%= @category.name %>
			</p>
			<p>
			  <strong>Parent Category:</strong>
			  <%= get_parent_name(@category.parent_id) %>
			</p>
			<p>
			  <strong>Image:</strong>
			  <img src="<%= @category.image %>"></img>
			</p>
			<%= link_to 'Edit', edit_category_path(@category), :remote=>true %> |
			<%= link_to 'Back', categories_path, :remote=>true %>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>